* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Footer {
    margin: 95px 0px 40px 0px;
}

.Footer-Title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #8257E6;
    border-bottom: 16px;
}

.Footer-Description {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C4C4C4;
    font-size: 16px;
}